.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
}

.overlay-open {
  visibility: visible;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
}
.modal {
  visibility: hidden;
  position: fixed;
  border-radius: 10px;
  width: 30%;
  min-width: 25rem;
  top: 30%;
  z-index: 100;
  background-color: white;
  @media screen and (max-width: $break-point-one) {
    width: 90%;
    min-width: 10rem;
    max-width: 25rem;
  }
}

.modal-open {
  visibility: visible;
}

.create-task {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.modal-input {
  font-size: 18px;
  margin: 1rem;
  height: 2em;
  margin-top: 2rem;
  border: none;
  border-bottom: 2px solid $color-one;
  outline: none;
}

.modal-button {
  @include button;
  margin: 1rem;
  justify-self: right;
}
