.task-container {
  margin: 0.5rem;
  // width: 80%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  font-size: 22px;
  justify-content: space-between;
}

.task {
  // margin: 0.5rem;
  // width: 80%;
  display: flex;
  align-items: center;
  font-size: 22px;
}

.check-box {
  margin: 1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 20%;
  border: 1px solid black;
}

.check-box-done {
  background-color: green;
}
