.date {
  display: flex;
}

.date-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 1em;
  margin-left: 2em;
}

.tasks-date {
  font-size: 26px;
  font-weight: 400;
  margin: 0;
}
